<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BN- Auction Update</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Update Page">
        <link rel="icon" href="./icons/Logo.png" type="image/gif" sizes="50x50">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body style="margin-top:75px;">

<%- include('partials/navbar') %>
    <div class="card ml-auto mr-auto mt-3 mb-3" style="width:600px;margin:auto;">
      <div class="card-body m-3">

        <form action="/adminupdate/<%= Item.id %>" method="POST">

          <div class="form-group">
            <label for="itemName">Item Name:</label>
            <input type="text" class="form-control" name="itemName" value="<%= Item.name %>" required>
          </div>

          <div class="form-group">
            <label for="itemCategory">Category:</label>
            <select class="form-control" name="itemCategory" required>
              <option value="shoes">Electronics</option>
              <option value="shoes">Shoes</option>
              <option value="books">Books</option>
              <option value="books">Sports</option>
              <option value="shoes">Fashion</option>
              <option value="books">Others</option>
            </select>
          </div>

          <div class="form-group">
            <label for="basePrice">Starting Price:</label>
            <input type="Number" class="form-control" name="basePrice" min="1" value="<%= Item.basePrice %>" required>
          </div>

          <div class="form-group">
            <label for="itemDuration">Duration:</label>
            <input type="Number" class="form-control" name="itemDuration" min="1" value="<%= Item.duration%>" required>
          </div>

          <div class="form-group">
            <label for="itemDescription">Description:</label>
            <textarea name="itemDescription" class="form-control" rows="4" cols="50" required><%= Item.description %></textarea>
          </div>
<div class="col" style="margin-left:35%;">
            <button type="submit" class="btn btn-dark" style="margin-left:auto;">Update</button>
</div>
</form>

      </div>
    </div>

<%- include('partials/footer') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  </body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
