<%- include('partials/navbar') %>

  <!-- bid intro and stuff   -->
  <div class="row no-gutters row_margin" style="background-color: #e6ffff;padding-bottom: 50px;">
    <div class="col-md-6">
      <div>
        <h1><%= items.name %></h1>
        <h5><%= SName %></h5>
        <hr>


        <div class="">

        </div>
        <table>
          <tr>
            <th>Start Bid</th>
            <td><%= items.basePrice %></td>
            <th>Current Bid</th>
            <td><%= items.currentBid %></td>
          </tr>
          <tr>
            <th>Start Date</th>
            <td><%= items.startedOn %></td>
            <th>Ends in:</th>
            <td>time</td>
          </tr>
        </table>

<%- include('bidUpdate',{Item:items}) %>
          </div>
    </div>
</div>


    <!-- bid details and stuff -->
    <div class="row no-gutters row_margin" style="margin-bottom:50px;">

      <div class="col-md-6">
        <div class="description">
          <h3>Description</h3>
          <p><%= items.description %></p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="details_table">
          <h3>Details:</h3>
          <table class="DTable">
            <tr>
              <th>Product Name</th>
              <td><%= items.name %></td>
            </tr>
            <tr>
              <th>Product By</th>
              <td><%= SName %></td>
            </tr>
            <tr>
              <th>Category</th>
              <td><%= items.category %></td>
            </tr>
            <tr>
              <th>Base price</th>
              <td><%= items.basePrice %></td>
            </tr>
            <tr>
              <th>Auction Start</th>
              <td><%= items.startedOn %></td>
            </tr>
            <tr>
              <th>Auction end</th>
              <td>some date</td>
            </tr>
            <tr>
              <th>Contact</th>
              <td><%= CDetails %></td>
            </tr>
          </table>
        </div>

      </div>
    </div>

<%- include("partials/footer") %>
