<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Chatroom">
          <link rel="icon" href="./icons/Logo.png" type="image/gif" sizes="50x50">
      <title>BN- Chatroom</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <link rel="stylesheet" href="./styles/chatroom.css">
  </head>
  <body style="margin-top:75px;" onload="updateScroll()">
<%- include("partials/navbar") %>

        <div id="chatRoom" class="card col-lg-10 m-auto">
          <div class="card-body">

              <h2 class="text-center">Chatroom</h2>
              <div id="chat-window">
                <% messages.forEach(function(result){ %>
                  <div id="pastMessages"><p><strong><%= result.username %>: </strong><%= result.message%></p></div>
                <% }) %>
                  <div id="output"></div>
                  <div id="feedback"></div>
              </div>
              <input type="text" id="handle" value="<%= handle%>" disabled hidden>
              <div class="form-group">
                <label for="messageText"> Your Message:</label>
                <input id="message" type="text" class="form-control" name="messageText" placeholder="Message" required>
              </div>

              <button id="send" class="btn btn-lg btn-outline-dark ml-auto">Send</button>

          </div>
        </div>

        <%- include('partials/footer')%>

        <script src="scripts/chat.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  </body>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
