<%- include('partials/navbar') %>
<%- include('errorMessages') %>
<section id="Intro Content">
<div class="jumbotron mt-3">
  <h1>Welcome back, <%= AName %></h1>
  <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </h5>
</div>

<div class="card-deck">
  <div class="card ml-4 p-1">
    <div class="card-body">
      <h1>Start Auction</h1>
      <hr>
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
    </div>
    <div class="card-footer" style="background-color:white;">
      <a href="/startauction" class="btn btn-outline-dark btn-lg btn-block" role="button">New Auction</a>
</div>
  </div>

  <div class="card p-1">
    <div class="card-body">
      <h1>Your Interests</h1>
      <hr>
      <h5> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
    </div>
    <div class="card-footer" style="background-color:white;">
      <a href="/viewbids" class="btn btn-outline-dark btn-lg btn-block" role="button">View</a>
</div>
  </div>

  <div class="card mr-4 p-1">
    <div class="card-body">
      <h1>Your Auctions</h1>
      <hr>
      <h5> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
    </div>
    <div class="card-footer" style="background-color:white;">
      <a href="/manageauctions" class="btn btn-outline-dark btn-lg btn-block" role="button">View</a>
    </div>
  </div>

  <div class="card mr-4 p-1">
    <div class="card-body">
      <h1>Chatroom</h1>
      <hr>
      <h5> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
    </div>
    <div class="card-footer" style="background-color:white;">
      <a href="/chatroom" class="btn btn-outline-dark btn-lg btn-block" role="button">View</a>
    </div>
  </div>
</div>

  </section>


<section id="Auction_items">
<div class="card-deck row">
  <% post.forEach(function(item){ %>
    <div class="col-md-3">
            <div class="card m-3 p-1" >
                <a href="/image/<%= item.image%>"><img class="card-img-top img-fluid" src="/image/<%= item.image %>" alt="Not a Valid image" style="width:100%;height:auto;max-height:200px"></a>
                <div class="card-block">
                  <h5><%= item.name %></h5>
                  <p><small><%= AName %></small></p>
                  <p>Current Price: <strong><%= item.currentBid %></strong></p>
                  <p>Highest Bidder: <strong><%= item.currentBidder.name %></strong></p>
                  <p>Participants: <strong><%= item.participants.length %></strong></p>
                </div>
                <%- include("bidUpdate",{Item:item}) %>
                <a href="/items/<%= item._id %>" class="btn btn-outline-dark btn-lg btn-block mt-2" role="button">View Details</a>
            </div>
        </div>
  <% }) %>
</div>
</section>
<%- include('partials/footer') %>
