<%- include('partials/navbar') %>
<%- include('errorMessages') %>

<section id="Intro Content">
<div class="jumbotron">
  <h1>Welcome back,</h1>
</div>

<div class="card-deck">
  <div class="card">
    <h1>Start Auction</h1>
    <a href="/startauction" class="btn btn-outline-dark btn-lg btn-block" role="button">New Auction</a>

  </div>

  <div class="card">
    <h1>Joined Auction</h1>
    <a href="" class="btn btn-outline-dark btn-lg btn-block" role="button">View</a>

  </div>

  <div class="card">
    <h1>Your Auction</h1>
    <a href="/manageauctions" class="btn btn-outline-dark btn-lg btn-block" role="button">View</a>

  </div>
</div>

  </section>


<section id="Auction_items">

<div class="card-deck row">
  <% post.forEach(function(item){ %>
    <div class="col-md-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="//placehold.it/500x200" alt="Card image cap">
                <div class="card-block">
                  <h5><%= item.name %></h5>
                  <p><small><%= item.startedBy %></small></p>
                  <p>Current Price:<%= item.currentBid %></p>
                </div>
                <%- include("bidUpdate",{Item:item}) %>
                <a href="/items/<%= item._id %>" class="btn btn-outline-dark btn-lg btn-block" role="button">View Details</a>
            </div>
        </div>
  <% }) %>
</div>
</section>

<%- include('partials/footer') %>
