<%- include('partials/navbar') %>
<%- include('errorMessages') %>
<section id="Intro Content">
<div class="jumbotron mt-3">
  <h1>Welcome back</h1>
  <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </h5>
</div>

<div class="card-deck row">
  <div class="card m-4 p-1 col-lg-3">
    <div class="card-body">
      <h1>Start Auction</h1>
      <hr>
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
    </div>
    <div class="card-footer" style="background-color:white;">
      <a href="/startauction" class="btn btn-outline-dark btn-lg btn-block" role="button">Start Auction</a>
</div>
  </div>

  <div class="card m-4 p-1 col-lg-3">
    <div class="card-body">
      <h1>Your Interests</h1>
      <hr>
      <h5>The item that you liked someone might be grabbing it, be sure to check it regularly.</h5>
    </div>
    <div class="card-footer" style="background-color:white;">
      <a href="/viewbids" class="btn btn-outline-dark btn-lg btn-block" role="button">View More</a>
</div>
  </div>

  <div class="card m-4 p-1 col-lg-3">
    <div class="card-body">
      <h1>Your Auctions</h1>
      <hr>
      <h5>Keep track of who might win your Auction.</h5>
    </div>
    <div class="card-footer" style="background-color:white;">
      <a href="/manageauctions" class="btn btn-outline-dark btn-lg btn-block" role="button">View More</a>
    </div>
  </div>

  <div class="card m-4 p-1 col-lg-3">
    <div class="card-body">
      <h1>Chatroom</h1>
      <hr>
      <h5>Chat with other Users and Auctioneers to keep track of what is happening around.</h5>
    </div>
    <div class="card-footer" style="background-color:white;">
      <a href="/chatroom" class="btn btn-outline-dark btn-lg btn-block" role="button">Chat</a>
    </div>
  </div>
</div>
  </section>


<section id="Auction_items">
<div class="card-deck row">
  <% post.forEach(function(item){ %>
    <div class="col-md-3">
            <div class="card m-3 p-1" >
                <a href="/image/<%= item.image%>"><img class="card-img-top img-fluid img-responsive" src="/image/<%= item.image %>" alt="Not a Valid image" style="max-height:200px;"></a>
                <div class="card-block">
                  <h5><%= item.name %></h5>
                  <p><small><%= AName %></small></p>
                  <p>Current Price: <strong><%= item.currentBid %></strong></p>
                  <p>Highest Bidder: <strong><%= item.currentBidder.name %></strong></p>
                  <p>Participants: <strong><%= item.participants.length %></strong></p>
                  <p>Status: <strong><%= item.status %></strong></p>
                </div>
                <a href="/items/<%= item._id %>" class="btn btn-outline-dark btn-lg btn-block mt-2" role="button">View More</a>
            </div>
        </div>
  <% }) %>
</div>
</section>
<%- include('partials/footer') %>
