<!DOCTYPE html>
<%- include('partials/navbar') %>
    <div class="Manage_auctions">
      <div class="jumbotron">
      <h1>Hello</h1>
      </div>

      <div class="card-deck row">
<% auctionList.forEach(function(items){ %>
  <div class="col-md-3">
          <div class="card">
              <img class="card-img-top img-fluid" src="//placehold.it/500x200" alt="Card image cap">
              <div class="card-block">
                <h5><%= items.name %></h5>
                <p><small>By name</small></p>
                <p>Current Price:<%= items.currentBid %></p>
                <p>Ends in:</p>
              </div>
              <a href="/items/<%= items._id %>" class="btn btn-outline-dark btn-lg btn-block" role="button">View Details</a>
          </div>
      </div>
<% }) %>
</div>
</div>
<%- include('partials/footer') %>
