<%- include('partials/navbar') %>

    <div class="Manage_auctions">
<div class="jumbotron">
  <h1>Your Intrests</h1>
  <h5>The item that you are intrested in someone might be grabbing it,so be sure to check it regularly.</h5>
</div>
      <div class="card-deck row">
        <% items.forEach(function(item){ %>
          <div class="col-md-3">
                  <div class="card m-3 p-1" >
                      <img class="card-img-top img-fluid" src="/image/<%= item.image %>" alt="Not a Valid Image">
                      <div class="card-block">
                        <h5><%= item.name %></h5>
                        <p><small></small></p>
                        <p>Current Price: <strong><%= item.currentBid %></strong></p>
                        <p>Highest Bidder:   <strong><%= item.currentBidder.name %></strong></p>
                        <p>Participants: <strong><%= item.participants.length %></strong></p>
                        <p>Status: <strong><%= item.status %></strong></p>
                        <p style="text-align:center;"><strong id="auctionUserStatus<%=item.id %>"></strong></p>
                        <script type="text/javascript">
                            if("<%= currentUser %>" == "<%= item.currentBidder.contact %>" && "<%= item.status%>" === "FINISHED"){
                            document.getElementById("auctionUserStatus<%= item.id %>").innerHTML="You Won. \nContact the Owner for more details.";
                            }
                        </script>
                      </div>
                      <a href="/items/<%= item._id %>" class="btn btn-outline-dark btn-lg btn-block mt-2" role="button">View Details</a>
                  </div>
              </div>
        <% }) %>
      </div>
    </div>

<%- include('partials/footer') %>
